.head {
  grid-area: head;
  width: 100%;
  max-width: 1400px;
  height: 90px;
  background-color: rgb(233, 233, 233);
  border-bottom: 1px ridge rgb(191, 113, 113);

  color: rgb(142, 9, 9);

  font-family: serif;
  font-size: xx-large;
  font-weight: bolder;

}

.head img {
  width: 80px;
}