.nav {
  grid-area: nav;
  background-color: rgb(138, 36, 36);
  color: rgb(255, 251, 251);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: x-large;
}

.scale-in-ver-bottom {
  -webkit-animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}


.item {
  background-color: rgb(138, 36, 36);
  color: rgb(255, 251, 251);
  padding-top: 15px;
  font-size: xx-large;
  line-height: 1.5;
  animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


a:link {
  color: #FFF;
  text-decoration: none;
}

a:visited {
  color: #FFF;
}

a:hover {
  color: rgb(232, 189, 88);
  text-decoration-line: none;
}

a:active {
  color: #edd19b;
}

.item a.active {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  background-color: rgb(138, 36, 36);
}