.nav {
  grid-area: nav;
  background-color: rgb(138, 36, 36);
  color: rgb(255, 251, 251);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: x-large;
}

.item {
  background-color: rgb(138, 36, 36);
  color: rgb(255, 251, 251);
  padding-top: 15px;
  font-size: xx-large;
  line-height: 1.5;
  transition: transform 0.3s ease;
  animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-ver-bottom {
  -webkit-animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

a:link {
  color: #FFF;
  text-decoration: none;

}

a:visited {
  color: #FFF;
}


.item:hover {
  color: #FFF;
  transform: translateY(5px);
}

.item:active {
  color: #FFF;
  animation: flip-out-hor-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes flip-out-hor-bottom {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }

  100% {
    transform: rotateX(-70deg);
    opacity: 0;
  }
}