.cards {
  display: inline;
  color: rgb(142, 9, 9);
  font-size: large;
  text-align: left;
  padding-left: 10px;
  display: flex;
  /* overflow: hidden; */
}

.time {
  display: flex;
  justify-content: flex-end;
}

.cards li {
  display: inline;
  justify-content: center;
  border: 6px;
  border-color: brown;
  padding-inline-end: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* animation: slideRight 13s ease; */
}

.cards img {
  height: 150px;
}

button {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 30px;
  font-size: large;
  border-radius: 15px;
  color: rgb(108, 81, 1);
  border-color: rgb(163, 142, 86);
  margin-bottom: 10px;
  cursor: pointer;
}