:root {

  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: rgb(26, 147, 52);
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
}


.cards {
  display: inline;
  color: rgb(142, 9, 9);
  font-size: large;
  text-align: left;
  padding-left: 10px;
  display: flex;
  /* overflow: hidden; */
}

.time {
  display: flex;
  justify-content: flex-end;
}

.cards li {
  display: inline;
  justify-content: center;
  border: 6px;
  border-color: brown;
  padding-inline-end: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* animation: slideRight 13s ease; */
}

.cards img {
  height: 150px;
}

button {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 30px;
  font-size: large;
  border-radius: 15px;
  color: rgb(108, 81, 1);
  border-color: rgb(163, 142, 86);
  margin-bottom: 10px;
  cursor: pointer;
}

.ui-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.deleteButton.color-0 {
  width: 70px;
  height: 30px;
  line-height: normal;
  border-radius: 20px;
  background-color: var(--bs-red);
  font-size: medium;
  color: black;
  border-color: black;
  transition: 0.3s;
}

.deleteButton.color-1 {
  width: 70px;
  height: 30px;
  line-height: normal;
  border-radius: 20px;
  background-color: var(--bs-orange);
  border-color: black;
  font-size: medium;
  color: black;
  transition: 0.3s;
}

.deleteButton.color-2 {
  width: 70px;
  height: 30px;
  line-height: normal;
  border-radius: 20px;
  background-color: var(--bs-yellow);
  border-color: black;
  font-size: medium;
  color: black;
  transition: 0.3s;
}

.deleteButton.color-3 {
  width: 70px;
  height: 30px;
  line-height: normal;
  border-radius: 20px;
  background-color: var(--bs-green);
  border-color: black;
  font-size: medium;
  color: black;
  transition: 0.3s;
}

.deleteButton.color-4 {
  width: 70px;
  height: 30px;
  line-height: normal;
  border-radius: 20px;
  background-color: var(--bs-blue);
  border-color: black;
  font-size: medium;
  color: black;
  transition: 0.3s;
}

.deleteButton.color-5 {
  width: 70px;
  height: 30px;
  line-height: normal;
  border-radius: 20px;
  background-color: var(--bs-pink);
  border-color: black;
  font-size: medium;
  color: black;
  transition: 0.3s;
}

.colorBlock {}

input:valid {
  display: flex;
  width: 400px;
  height: 20px;
  cursor: pointer;
}