#root {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  cursor: text;
}

input:valid {
  display: flex;
  width: 400px;
  height: 20px;
  cursor: text;
}

.light {
  background-color: white;
  color: rgb(140, 110, 90);
}

.App-wrapper {
  display: grid;
  max-width: 1440px;
  height: 100vh;
  position: relative;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "head head"
    "nav prof"
    "foot foot";
  font-family: serif;
  color: rgb(140, 110, 90);
}

.head,
.foot {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}



.foot {
  bottom: 0;
  background-color: #ccc;
}

.App-wrapper-content {
  grid-area: prof;
  overflow-y: scroll;

  background-color: white;
  color: rgb(140, 110, 90);
  font-size: x-large;
  text-align: left;
  padding-left: 10px;
}

nav {
  grid-area: nav;
  width: 200px;
  height: 65vh;
  overflow-y: auto;
}


h2 {
  display: flex;
  font-size: xx-large;
  justify-content: center;
}

.foodPlanLink {
  display: flex;
  font-size: xx-large;
  background-color: rgb(140, 110, 90);
  justify-content: center;
}

.foodPlanLink:hover {
  color: rgb(130, 137, 0);
  font-style: bold;
}

.foodPlanLink:active {
  color: #afce00;
}

.gridCont {
  display: flex;
  justify-content: center;
  cursor: pointer;

}

.gridImage {
  width: 80%;
  margin: 10px 10px 10px 10px;
  transition: transform 0.3s;
  border: 2px solid rgb(140, 110, 90);

  cursor: pointer;
}

.gridCont .gridImage.zoomed {
  border: 2px solid rgb(140, 110, 90);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}

.controls {
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: space-around;
  width: 140%;
  margin-top: 5%;
  z-index: 1000;
}

.controlButton {
  display: flex;
  justify-content: center;
  font-size: 24px;
  background-color: rgb(140, 110, 90);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}