/* body {
  width: 1440px;
  font-size: large;
  list-style-type: circle;
  padding-left: 10;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

ul {
  list-style-type: none;
}

.radio-button {
  display: flex;
  width: 400px;
  justify-content: flex-start;
  grid-gap: 20px;
  padding-inline-start: 0px;
}

input:invalid {
  border: 2px dashed rgb(191, 113, 113);
}

input:invalid:required {
  background: rgb(225, 159, 159);
}

input:valid {
  border: 2px dashed rgb(191, 113, 113);
}

.fieldset {
  border: 2px dashed rgb(191, 113, 113);

}